<div class='homepage'>
  <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo">logo</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href='/home' class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">Products</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Contact Us</a>
            </li>
            <li>
                <a href='/logout' class="nav-links">Log Out</a>
            </li>
        </ul>
    </nav>
<br>

<div class="main-banner" id="main-banner">
  <div class="imgban" id="imgban3">
    <img height="600" width="100%" src="{{first.image-src}}"/>
  </div>
  <div class="imgban" id="imgban2">
    <img height="600" width="100%" src="{{second.image-src}}"/>
  </div>
  <div class="imgban" id="imgban1">
    <img height="600" width="100%" src="{{third.image-src}}"/>
  </div>
</div>
<br>
<div class = 'row'>
  <div class="col-2">
    <h1 style="text-align: center; margin-top: 50%; font-size: 4em">Shounen</h1>
  </div>
  <div class="col-9">
    <div class='scrollmenu'>
            {{#each data}}
              {{#contains this.demographic "Shounen"}}
                <li class="list-group-item">
                    <div>{{this.title}}</div>
                    <div><small>{{this.authors}}</small></div>
                    <br>
                    <div><img height="300" width="250" src="{{this.image-src}}"/></div>
                </li>
              {{/contains}}
            {{/each}}
    </div>
  </div>
</div>
<div class = 'row'>
  <div class="col-2">
    <h1 style="text-align: center; margin-top: 50%; font-size: 4em">Shoujo</h1>
  </div>
  <div class="col-9">
    <div class='scrollmenu'>
            {{#each data}}
              {{#contains this.demographic "Shoujo"}}
                <li class="list-group-item">
                    <div>{{this.title}}</div>
                    <div><small>{{this.authors}}</small></div>
                    <br>
                    <div><img height="300" width="250" src="{{this.image-src}}"/></div>
                </li>
              {{/contains}}
            {{/each}}
    </div>
  </div>
</div>
<div class = 'row'>
  <div class="col-2">
    <h1 style="text-align: center; margin-top: 50%; font-size: 4em">Seinen</h1>
  </div>
  <div class="col-9">
    <div class='scrollmenu'>
            {{#each data}}
              {{#contains this.demographic "Seinen"}}
                <li class="list-group-item">
                    <div>{{this.title}}</div>
                    <div><small>{{this.authors}}</small></div>
                    <br>
                    <div><img height="300" width="250" src="{{this.image-src}}"/></div>
                </li>
              {{/contains}}
            {{/each}}
    </div>
  </div>
</div>
<div class = 'row'>
  <div class="col-2">
    <h1 style="text-align: center; margin-top: 50%; font-size: 4em">Yaoi</h1>
  </div>
  <div class="col-9">
    <div class='scrollmenu'>
            {{#each data}}
              {{#contains this.demographic "Yaoi"}}
                <li class="list-group-item">
                    <div>{{this.title}}</div>
                    <div><small>{{this.authors}}</small></div>
                    <br>
                    <div><img height="300" width="250" src="{{this.image-src}}"/></div>
                </li>
              {{/contains}}
            {{/each}}
    </div>
  </div>
</div>
<div class = 'row'>
  <div class="col-2">
    <h1 style="text-align: center; margin-top: 50%; font-size: 4em">Yuri</h1>
  </div>
  <div class="col-9">
    <div class='scrollmenu'>
            {{#each data}}
              {{#contains this.demographic "Yuri"}}
                <li class="list-group-item">
                    <div>{{this.title}}</div>
                    <div><small>{{this.authors}}</small></div>
                    <br>
                    <div><img height="300" width="250" src="{{this.image-src}}"/></div>
                </li>
              {{/contains}}
            {{/each}}
    </div>
  </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>
</div>


